.sucessContainer{
    width: 100vw;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 67px;
    z-index: -1;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #247A6B;
}
.filme,.info,.infoseats{

    margin-left: 29px;

}
.container{
    display: flex;
    flex-direction: column;
}
.filme h1,.info h1,.infoseats h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    margin-left: 29px;

}
.select{
    width: 374px;
    min-height: 110px;
}
.select p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    margin-left: 29px;
    
    color: #293845;
}