.footerContainer{
    position: fixed;
    bottom:0;
    left:0;
    width: 100vw;
    height: 117px;
    background: #DFE6ED;
    border: 1px solid #9EADBA;


}
.footerContent{
    margin: 14px 0 14px 10px;
    display: flex;
    flex-direction: row;
}
.imgFooter{
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    width: 64px;
    height: 89px;
    display:flex;
    align-items: center;
    justify-content:center;
}
.imgFooter img{
    width: 48px;
    height: 72px;
}
.title{
    display: flex;
    flex-direction: column;
   
}
.inputName{
    margin-bottom: 7px;
}
.footerContent h1{
    margin-left: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 30px;
    align-items: center;
    justify-content: center;

    color: #293845;

}